h1 {
  font-size: 64px;
  font-weight: bold;
  @include pad {
    font-size: 48px;
  }
  @include phone {
    font-size: 32px;
  }
}
h2 {
  font-size: 48px;
  font-weight: bold;
  @include pad {
    font-size: 32px;
  }
  @include phone {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.title {
  text-align: center;
}

.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/banner.png);
  height: 840px;
  background-size: cover;
  background-position: center;
  text-align: right;
  @include phone {
    height: 394px;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .banner__subtitle {
    font-size: 36px;
    @include pad {
      font-size: 20px;
    }
    @include phone {
      font-size: 16px;
    }
  }
}

@media (max-width: 992px) {
  .banner {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/banner-sm.png?raw=true);
  }
  .banner p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .banner p {
    font-size: 16px;
  }
}

.specialty__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include pad {
    padding: 0 38px;
  }
  @include phone {
    padding: 0 45px;
  }
}
.specialty__content li {
  width: 22.97%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .specialty__content li {
    width: 41.53%;
    margin-bottom: 32px;
  }
  .specialty__content li:nth-child(3) {
    margin-bottom: 0;
  }
  .specialty__content li:nth-child(4) {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .specialty__content li {
    width: 100%;
  }
  .specialty__content li:nth-child(3) {
    margin-bottom: 32px;
  }
}
.specialty__content .icon {
  height: 100px;
  width: 100px;
}
.specialty__content img {
  height: 100%;
  margin: 0 auto;
}

.classic__product li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
}
.classic__product li:nth-child(2) {
  flex-direction: row-reverse;
}
.classic__product img {
  width: 57%;
}

@media (max-width: 767px) {
  .classic__product img {
    width: 100%;
  }
}
.classic__title {
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .classic__title {
    width: auto;
    position: absolute;
    padding-left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.classic__product li:nth-child(2) .classic__title {
  padding-right: 30px;
  text-align: right;
}
.classic__title::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.optical::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/icon-diamond.svg");
}
.sunglasses::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/icon-sun.svg");
}
.functional::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/icon-thunder-black.svg");
}
@media (max-width: 992px) {
  .classic__product li {
    margin-bottom: 8px;
  }
  .classic__product li:nth-child(2) {
    flex-direction: row;
  }
  .classic__title {
    font-size: 28px;
  }
  .classic__title::before {
    width: 40px;
    height: 40px;
  }
  .classic__product li:nth-child(2) .classic__title {
    padding-left: 30px;
    text-align: left;
  }
}

.design {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/bg.png");
  background-position: center;
  background-size: cover;
}
.design__product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.design__product li {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  width: 48.6%;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
}
@media (max-width: 992px) {
  .design__product li {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .design__product li:nth-child(1) {
    margin-bottom: 16px;
  }
  .design__product li {
    width: 100%;
  }
}
.design__product .design__doublea {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/product-8.png");
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}
.design__product .design__youth {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/70ea594ef6d9a4686cfae94eedd217f4484d45c3/week3/product-9.png");
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}
@media (max-width: 992px) {
  .design__product .design__doublea {
    padding: 118px 0;
  }
  .design__product .design__youth {
    padding: 118px 0;
  }
}

.recommend__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    width: 22.97%;
    height: 460px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    @include pad {
      width: 47.82%;
      margin-bottom: 32px;
    }
    @include phone {
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .content {
    padding: 16px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name {
    font-size: 14px;
    font-weight: 500;
  }
  .comment {
    font-size: 16px;
  }
  img {
    height: 256px;
    width: 100%;
    object-fit: cover;
  }
  .date {
    font-size: 14px;
    color: #707070;
  }
}

.form {
  .container {
    max-width: 730px;
    @include pad {
      max-width: 450px;
    }
    @include phone {
      max-width: 375px;
    }
  }
  .form__text {
    font-size: 20px;
    @include pad {
      font-size: 16px;
    }
  }
  .form__body {
    font-size: 16px;
    @include pad {
      font-size: 14px;
    }
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 14px 16px;
  margin-top: 4px;
  background-color: transparent;
  border: 1px solid black;
}
textarea {
  height: 150px;
  resize: none;
}
input[type="submit"] {
  background-color: $secondary;
  border: none;
  color: white;
  padding: 16px 0;
  width: 50%;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  @include pad {
    padding: 10px 0;
  }
  @include phone {
    padding: 8px 0;
  }
}
