$primary: #650300;
$secondary: #aa0601;
$light: #aa06010d;

$font-size-1: 16px;
$font-size-s: $font-size-1 * 0.875; //14
$font-size-m: $font-size-1 * 1.25; //20
$font-size-l: $font-size-1 * 2; //32
$font-size-ml: $font-size-1 * 1.75; //28
$font-size-ll: $font-size-1 * 2.625; //42
$font-size-2: $font-size-1 * 1.5; //24
$font-size-3: $font-size-1 * 2.25; //36
$font-size-4: $font-size-1 * 3; //48
$font-size-5: $font-size-1 * 4; //64
$font-size-6: $font-size-1 * 4.5; //72
